<section class="ads">
    <div class="container">
        <div>
            <div class="ad p-5">
                <h2 class="text-center text-light fw-bolder">أعلانات</h2>
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="item d-lg-flex">
                            <div class="img text-center">
                                <img class="" src="../../assets/images/ads.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>تعلن الهيئة العامة للمنافسة عن رفضها إتمام عملية التركز الاقتصادي بين ديلفري هيرو
                                    وشركة ذا شيفز</h3>
                                <p>
                                    رفض عملية التركز الاقتصادي بين (شركة ديلفري هيرو) وشركة (ذا شيفز)؛ وذلك لعدم استيفاء
                                    الأطراف شرط تقديم كامل المعلومات اللازمة للهيئة العامة للمنافسة لفحص التركز وفق
                                    المنهجية المقرة في نظام المنافسة ولائحته التنفيذية والدليل الإرشادي لفحص التركز
                                    الاقتصادي.
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item d-flex">
                            <div class="img">
                                <img class="" src="../../assets/images/ads.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>تعلن الهيئة العامة للمنافسة عن رفضها إتمام عملية التركز الاقتصادي بين ديلفري هيرو
                                    وشركة ذا شيفز</h3>
                                <p>
                                    رفض عملية التركز الاقتصادي بين (شركة ديلفري هيرو) وشركة (ذا شيفز)؛ وذلك لعدم استيفاء
                                    الأطراف شرط تقديم كامل المعلومات اللازمة للهيئة العامة للمنافسة لفحص التركز وفق
                                    المنهجية المقرة في نظام المنافسة ولائحته التنفيذية والدليل الإرشادي لفحص التركز
                                    الاقتصادي.
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item d-flex">
                            <div class="img">
                                <img class="" src="../../assets/images/ads.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>تعلن الهيئة العامة للمنافسة عن رفضها إتمام عملية التركز الاقتصادي بين ديلفري هيرو
                                    وشركة ذا شيفز</h3>
                                <p>
                                    رفض عملية التركز الاقتصادي بين (شركة ديلفري هيرو) وشركة (ذا شيفز)؛ وذلك لعدم استيفاء
                                    الأطراف شرط تقديم كامل المعلومات اللازمة للهيئة العامة للمنافسة لفحص التركز وفق
                                    المنهجية المقرة في نظام المنافسة ولائحته التنفيذية والدليل الإرشادي لفحص التركز
                                    الاقتصادي.
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>