<footer>
    <div class="container">
        <div class="row align-items-center text-light ">
            <div class="col-12 col-md-6 col-lg-4 order-lg-0 order-0">
                <div class="img">
                    <img src="assets/images/SVG/footer-logo.svg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2 flex-md-grow-1">
                <div class="rights text-center col-md-pull-4">
                    <p class="mb-3">جميع الحقوق محفوظة</p>
                    <p>الأمانة العامة للجنة الفصل في مخالفات نظام المنافسة &copy;</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 order-lg-2 order-1">
                <div>
                    <ul class="social list-unstyled d-flex justify-content-end m-0">
                        <li>
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </li>
                    </ul>
                    <ul class="privacy list-unstyled d-flex justify-content-end m-0">
                        <li class="pe-3 ps-3"><a>سياسة الخصوصية</a></li>
                        <li class="pe-3  ps-3"><a>خريطة الموقع </a></li>
                        <li class="pe-3"><a>اتصل بنا</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>