<section class="links">
    <div class="container">
        <h2 class="fw-bolder text-center mb-5">روابط هامة</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6 col sm-12">
                <div class="link">
                    <div class="img-wrapper p-2">
                        <img  src="assets/images/SVG/link1.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col sm-12">
                <div class="link">
                    <div class="img-wrapper p-2">
                        <img  src="assets/images/SVG/link2.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col sm-12">
                <div class="link">
                    <div class="img-wrapper p-2">
                        <img  src="assets/images/link3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>