<app-landing-component></app-landing-component>
<section class="new">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-sm-12 col-md-12 col-lg-8">
                <h1 class="h3 mb-5 mt-5 text-center fw-bolder">
                    الهيئة العامة للمنافسة تنظم ورشة عمل مع غرفة مكة المكرمة
                </h1>
                <div class="img">
                    <img class="img-fluid" src="../../assets/images/news1.png" alt="">
                </div>
                <p class="date">
                    1443/05/04
                </p>
                <p>
                    السعودية و غرفة مكة المكرمة أقامت
                    الهيئة العامة للمنافسة ورشة عمل بالتعاون مع اتحاد الغرف السعودية و غرفة مكة المكرمة

                </p>
                <p>بعنوان "المدخل لنظام المنافسة " وذلك ضمن مساعي الهيئة لنشر ثقافة المنافسة العادلة والتعريف بأنظمتها
                    بين
                    رواد
                    الأعمال والمنشآ أقامت
                    الهيئة العامة للمنافسة ورشة عمل بالتعاون مع اتحاد الغرف السعودية و غرفة مكة المكرمة


                    بعنوان "المدخل لنظام المنافسة " وذلك ضمن مساعي الهيئة لنشر ثقافة المنافسة العادلة والتعريف بأنظمتها
                    بين
                    رواد
                    الأعمال والمنشآت </p>
                <a class="link bg-light fw-bolder" href="#"> <i class="fa-solid fa-arrow-right"></i> عودة الى
                    الأخبار</a>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

</section>