<section class="landing">
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="slide text-center">
                    <h1 class="text-light ">الرؤية</h1>
                    <p class=" text-light lh-sm">حماية المنافسة العادلة وتشجيعها
                        ومكافحة
                        كافة
                        صور الممارسات الاحتكارية التي تؤثر على المنافسة المشروعة</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide text-center">
                    <h1 class="text-light ">الرسالة</h1>
                    <p class=" text-light lh-sm">
                        تنويع القاعدة الأقتصادية وتحسين أنتاجية
                        الأقتصاد الوطني وتعزيز قدراته التنافسية وتذليل عوائق الأستثمار
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide text-center">
                    <h1 class="text-light ">الأهداف الأستراتيجية</h1>
                    <p class=" text-light lh-sm">
                        الكفائة في ادارة جميع المنازعات الخاصة
                        بالمنافسة ونشر تقافة المنافسة المتنوعة
                    </p>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>