<app-landing-component></app-landing-component>
<main>
    <div class="container">
        <div class="row justify-content-between reverese">
            <div class="col-lg-3">
                <app-media-menu></app-media-menu>
            </div>
            <div class="row col-lg-9 m-auto">
                <div class="col-md-6 col-lg-6">
                    <a routerLink="/new">
                        <div class="institution">
                            <div class="img">
                                <img class="img-fluid" src="../../assets/images/institute1.jpg" alt="">
                                <div class="info">
                                    <h4>الهيئة العامة للمنافسة تنظم ورشة عمل مع الغرفة التجارية الصناعية بالمجمعة</h4>
                                    <p>1443/05/04</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="institution">
                        <div class="img">
                            <img class="img-fluid" src="../../assets/images/institute1.jpg" alt="">
                            <div class="info">
                                <h4>الهيئة العامة للمنافسة تنظم ورشة عمل مع الغرفة التجارية الصناعية بالمجمعة</h4>
                                <p>1443/05/04</p>
                            </div>
                        </div>
                    </div>
                    <div class="institution">
                        <div class="img">
                            <img class="img-fluid" src="../../assets/images/institute1.jpg" alt="">
                            <div class="info">
                                <h4>الهيئة العامة للمنافسة تنظم ورشة عمل مع الغرفة التجارية الصناعية بالمجمعة</h4>
                                <p>1443/05/04</p>
                            </div>
                        </div>
                    </div>
                    <div class="institution">
                        <div class="img">
                            <img class="img-fluid" src="../../assets/images/institute1.jpg" alt="">
                            <div class="info">
                                <h4>الهيئة العامة للمنافسة تنظم ورشة عمل مع الغرفة التجارية الصناعية بالمجمعة</h4>
                                <p>1443/05/04</p>
                            </div>
                        </div>
                    </div>
                    <div class="institution">
                        <div class="img">
                            <img class="img-fluid" src="../../assets/images/institute1.jpg" alt="">
                            <div class="info">
                                <h4>الهيئة العامة للمنافسة تنظم ورشة عمل مع الغرفة التجارية الصناعية بالمجمعة</h4>
                                <p>1443/05/04</p>
                            </div>
                        </div>
                    </div>
                    <div class="institution">
                        <div class="img">
                            <img class="img-fluid" src="../../assets/images/institute1.jpg" alt="">
                            <div class="info">
                                <h4>الهيئة العامة للمنافسة تنظم ورشة عمل مع الغرفة التجارية الصناعية بالمجمعة</h4>
                                <p>1443/05/04</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="institution">
                        <div class="img">
                            <img class="img-fluid" src="../../assets/images/institute1.jpg" alt="">
                            <div class="info">
                                <h4>الهيئة العامة للمنافسة تنظم ورشة عمل مع الغرفة التجارية الصناعية بالمجمعة</h4>
                                <p>1443/05/04</p>
                            </div>
                        </div>
                    </div>
                    <div class="institution">
                        <div class="img">
                            <img class="img-fluid" src="../../assets/images/institute1.jpg" alt="">
                            <div class="info">
                                <h4>الهيئة العامة للمنافسة تنظم ورشة عمل مع الغرفة التجارية الصناعية بالمجمعة</h4>
                                <p>1443/05/04</p>
                            </div>
                        </div>
                    </div>
                    <div class="institution">
                        <div class="img">
                            <img class="img-fluid" src="../../assets/images/institute1.jpg" alt="">
                            <div class="info">
                                <h4>الهيئة العامة للمنافسة تنظم ورشة عمل مع الغرفة التجارية الصناعية بالمجمعة</h4>
                                <p>1443/05/04</p>
                            </div>
                        </div>
                    </div>
                    <div class="institution">
                        <div class="img">
                            <img class="img-fluid" src="../../assets/images/institute1.jpg" alt="">
                            <div class="info">
                                <h4>الهيئة العامة للمنافسة تنظم ورشة عمل مع الغرفة التجارية الصناعية بالمجمعة</h4>
                                <p>1443/05/04</p>
                            </div>
                        </div>
                    </div>
                    <div class="institution">
                        <div class="img">
                            <img class="img-fluid" src="../../assets/images/institute1.jpg" alt="">
                            <div class="info">
                                <h4>الهيئة العامة للمنافسة تنظم ورشة عمل مع الغرفة التجارية الصناعية بالمجمعة</h4>
                                <p>1443/05/04</p>
                            </div>
                        </div>
                    </div>
                    <div class="institution">
                        <div class="img">
                            <img class="img-fluid" src="../../assets/images/institute1.jpg" alt="">
                            <div class="info">
                                <h4>الهيئة العامة للمنافسة تنظم ورشة عمل مع الغرفة التجارية الصناعية بالمجمعة</h4>
                                <p>1443/05/04</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination d-flex justify-content-center">
            <a href="#">السابق</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">التالي</a>
        </div>
    </div>
</main>