.statistics {
  margin: 50px 0;
  padding: 50px 0;
  background-color: $third-color;
  .container {
    background-image: url("../images/SVG/honesty.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100px;
  }
  h3 {
    font-size: 2rem;
  }

  .title {
    position: relative;
    height: 100%;
  }

  .title::before,
  .title::after {
    content: "";
    position: absolute;
  }

  .statistic {
    border: 1px solid #dddddd;
    border-radius: 30px;
    padding: 30px 0 10px;
    width: 270px;
    box-shadow: 0px 3px 20px #00000014;
    margin: auto;
  }

  i {
    display: block;
    margin-bottom: 17.5px !important;
  }

  h4 {
    color: $fourth-color;
  }

  span {
    font-size: 3rem;
  }

  @media (max-width: 991px) {
    .title {
      margin-bottom: 30px;
    }

    .statistic {
      margin-bottom: 50px !important;
    }
  }

  @media (min-width: 992px) {
    .statistic {
      margin-left: 45px !important;
    }

    .title::before {
      width: 50px;
      height: 50px;
      background-image: url(../images/SVG/title-arrow.svg);
      background-repeat: no-repeat;
      right: -40px;
      top: 50px;
    }

    .title::after {
      width: 50px;
      height: 50px;
      background-image: url(../images/SVG/title-arrow2.svg);
      background-repeat: no-repeat;
      left: -40px;
      bottom: 51px;
    }

    .title:hover .title::before{
      top: -50px;
      ;
    }
  }
}
