<section class="news">
    <div class="container text-center">
        <h2>احدث الأخبار</h2>
        <div id="news-carousel" class="owl-carousel owl-theme">
            <div class="item">
                <div class="img-wraper">
                    <img src="assets/images/news3.png" alt="">
                    <div class="info">
                        <p>الهيئة العامة للمنافسة تنظم ورشة عمل مع غرفة مكة المكرمة</p>
                        <span>1443/05/04</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img-wraper">
                    <img src="assets/images/news3.png" alt="">
                    <div class="info">
                        <p>الهيئة العامة للمنافسة تنظم ورشة عمل مع غرفة مكة المكرمة</p>
                        <span>1443/05/04</span>
                    </div>
                </div>
            </div>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="item">
                        <div class="img-wraper">
                            <img src="assets/images/news2.png" alt="">
                            <div class="info">
                                <p>الهيئة العامة للمنافسة تنظم ورشة عمل مع غرفة مكة المكرمة</p>
                                <span>1443/05/04</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="item">
                        <div class="img-wraper">
                            <img src="assets/images/news1.png" alt="">
                            <div class="info">
                                <p>الهيئة العامة للمنافسة تنظم ورشة عمل مع غرفة مكة المكرمة</p>
                                <span>1443/05/04</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="item">
                        <div class="img-wraper">
                            <img src="assets/images/news3.png" alt="">
                            <div class="info">
                                <p>الهيئة العامة للمنافسة تنظم ورشة عمل مع غرفة مكة المكرمة</p>
                                <span>1443/05/04</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
        <a href="#" class="fw-bolder">جميع الأخبار</a>
    </div>

</section>