<section class="procedures">
    <div class="container">
        <div class="procedures-section align-items-center position-relative d-flex pt-4 pb-4 pe-5 pe-5 text-light">
            <h3>إجــــــــــــــراءات <br> الفصل بالدعوى</h3>
            <div id="procedures-carousel">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="slide">
                            <div class="item">
                                <div
                                    class="procedure justify-content-center position-relative d-flex align-items-center">
                                    <i class="bg-light rounded-circle d-flex justify-content-center align-items-center">
                                        <span></span>
                                        <img class="img-fluid" src="assets/images/SVG/procedure-1.svg" alt="">
                                    </i>
                                    <div class="procedure-title text-light pe-4">
                                        <a href="#">تسجيل <br> الدعوة</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <div class="item">
                                <div
                                    class="procedure justify-content-center position-relative d-flex align-items-center">
                                    <i class="bg-light rounded-circle d-flex justify-content-center align-items-center">
                                        <span></span>
                                        <img class="img-fluid" src="assets/images/SVG/procedure-2.svg" alt="">
                                    </i>
                                    <div class="procedure-title text-light pe-4">
                                        <a href="#">دراسة <br> الرأي</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <div class="item">
                                <div
                                    class="procedure justify-content-center position-relative d-flex align-items-center">
                                    <i class="bg-light rounded-circle d-flex justify-content-center align-items-center">
                                        <span></span>
                                        <img class="img-fluid" src="assets/images/SVG/procedure-3.svg" alt="">
                                    </i>
                                    <div class="procedure-title text-light pe-4">
                                        <a href="#">تبادل <br> المذكرات</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <div class="item">
                                <div
                                    class="procedure justify-content-center position-relative d-flex align-items-center">
                                    <i class="bg-light rounded-circle d-flex justify-content-center align-items-center">
                                        <span></span>
                                        <img class="img-fluid" src="assets/images/SVG/procedure-4.svg" alt="">
                                    </i>
                                    <div class="procedure-title text-light pe-4">
                                        <a href="#">انعقاد <br> الجلسات</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <div class="item">
                                <div
                                    class="procedure justify-content-center position-relative d-flex align-items-center">
                                    <i class="bg-light rounded-circle d-flex justify-content-center align-items-center">
                                        <span></span>
                                        <img class="img-fluid" src="assets/images/SVG/procedure-5.svg" alt="">
                                    </i>
                                    <div class="procedure-title text-light pe-4">
                                        <a href="#">اصدار <br> القرار</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
             </div>
        </div>
    </div>
</section>