<app-landing-component></app-landing-component>
<section>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-sm-12 col-md-12 col-lg-10">
                <p>
                    - بعد الاطلاع على الفقرة (1) من المادة الثامنة عشرة من نظام المنافسة والتي تنص على "يشكل بقرار من
                    المجلس
                    -بناءً
                    على ترشيح الرئيس لجنة من المختصين من خمسة أعضاء، لمدة ثلاث سنوات قابلة للتجديد، على أن يكون من بينهم
                    ثلاثة
                    أعضاء
                    متخصصين في الأنظمة على الأقل، تختص بالفصل في مخالفات النظام واللائحة..." ، وعلى الفقرة (1) من المادة
                    التاسعة
                    والستين من اللائحة التنفيذية والتي تنص على أن "يشكل المجلس اللجنة من خمسة أعضاء مستقلين وفقا لأحكام
                    المادة
                    (الثامنة عشرة) من النظام"
                </p>
                <p>
                    وبعد الاطلاع على قرار مجلس إدارة الهيئة العامة للمنافسة رقم 408 وتاريخ 8-5-1442 هـ بشأن إعادة تشكيل
                    لجنة
                    الفصل في مخالفات نظام .المنافسة
                </p>
                <h4 class=" fw-bolder">
                    :قرر مجلس الإدارة ما يلي
                </h4>
                <p>
                    <span>
                        أولا:
                    </span>
                    إعادة تشكيل لجنة الفصل في مخالفات نظام المنافسة، ليكون كالآتي
                </p>
                <table class="w-100">
                    <tbody>
                        <tr>
                            <td>
                                الدكتور/محمد بن علي اليوسف
                            </td>
                            <td>
                                رئيسا
                            </td>
                        </tr>
                        <tr>
                            <td>
                                الدكتور/أحمد بن عبدالكريم المحيميد
                            </td>
                            <td>
                                عضوا
                            </td>
                        </tr>
                        <tr>
                            <td>
                                الدكتورة/ أروى بنت إبراهيم الجلال
                            </td>
                            <td>
                                عضوا
                            </td>
                        </tr>
                        <tr>
                            <td>
                                الدكتور/خالد بن عبدالرحمن المشعل
                            </td>
                            <td>
                                عضوا
                            </td>
                        </tr>
                        <tr>
                            <td>
                                الأستاذ/جابر بن عبدالرحمن المحمود
                            </td>
                            <td>
                                عضوا
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <span>
                        ثانيا:
                    </span>
                    إعادة تشكيل لجنة الفصل في مخالفات نظام المنافسة، ليكون كالآتي
                </p>
                <p>
                    <span>
                        ثالثا:
                    </span>
                    إعادة تشكيل لجنة الفصل في مخالفات نظام المنافسة، ليكون كالآتي
                </p>
                <p>
                    <span>
                        رابعا:
                    </span>
                    إعادة تشكيل لجنة الفصل في مخالفات نظام المنافسة، ليكون كالآتي
                </p>
                <table class="w-100">
                    <tbody>
                        <tr>
                            <td>
                                الأستاذ/ معاذ بن محمد الحكمي
                            </td>
                            <td>
                                أمينا عاما للجنة
                            </td>
                        </tr>
                        <tr>
                            <td>
                                الأستاذ/ معاذ بن محمد الحكمي
                            </td>
                            <td>
                                سكرتيرا للجنة
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <span>
                        خامسا:
                    </span>
                    إعادة تشكيل لجنة الفصل في مخالفات نظام المنافسة، ليكون كالآتي
                </p>
                <a class="link bg-light fw-bolder" href="#"> <i class="fa-solid fa-arrow-right"></i> عودة الى
                    الأخبار</a>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</section>