<app-landing-component></app-landing-component>
<section class="systems">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="dececion">
                    <i><img src="../../assets/images/SVG/pdf.svg" alt=""></i>
                    <p>
                        قرار رقم (337) وتاريخ 25/1/1441هـ بالموافقة على اللائحة التنفيذية لنظام المنافسة
                    </p>
                    <div class="wraper"> <i class="download"><img src="../../assets/images/arrow.jpg" alt=""></i>
                        <div class="date">
                            <p>1443/05/04</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="dececion">
                    <i><img src="../../assets/images/SVG/pdf.svg" alt=""></i>
                    <p>
                        قرار رقم (337) وتاريخ 25/1/1441هـ بالموافقة على اللائحة التنفيذية لنظام المنافسة
                    </p>
                    <div class="wraper"> <i class="download"><img src="../../assets/images/arrow.jpg" alt=""></i>
                        <div class="date">
                            <p>1443/05/04</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="dececion">
                    <i><img src="../../assets/images/SVG/pdf.svg" alt=""></i>
                    <p>
                        قرار رقم (337) وتاريخ 25/1/1441هـ بالموافقة على اللائحة التنفيذية لنظام المنافسة
                    </p>
                    <div class="wraper"> <i class="download"><img src="../../assets/images/arrow.jpg" alt=""></i>
                        <div class="date">
                            <p>1443/05/04</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="dececion">
                    <i><img src="../../assets/images/SVG/pdf.svg" alt=""></i>
                    <p>
                        قرار رقم (337) وتاريخ 25/1/1441هـ بالموافقة على اللائحة التنفيذية لنظام المنافسة
                    </p>
                    <div class="wraper"> <i class="download"><img src="../../assets/images/arrow.jpg" alt=""></i>
                        <div class="date">
                            <p>1443/05/04</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="dececion">
                    <i><img src="../../assets/images/SVG/pdf.svg" alt=""></i>
                    <p>
                        قرار رقم (337) وتاريخ 25/1/1441هـ بالموافقة على اللائحة التنفيذية لنظام المنافسة
                    </p>
                    <div class="wraper"> <i class="download"><img src="../../assets/images/arrow.jpg" alt=""></i>
                        <div class="date">
                            <p>1443/05/04</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="dececion">
                    <i><img src="../../assets/images/SVG/pdf.svg" alt=""></i>
                    <p>
                        قرار رقم (337) وتاريخ 25/1/1441هـ بالموافقة على اللائحة التنفيذية لنظام المنافسة
                    </p>
                    <div class="wraper"> <i class="download"><img src="../../assets/images/arrow.jpg" alt=""></i>
                        <div class="date">
                            <p>1443/05/04</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="dececion">
                    <i><img src="../../assets/images/SVG/pdf.svg" alt=""></i>
                    <p>
                        قرار رقم (337) وتاريخ 25/1/1441هـ بالموافقة على اللائحة التنفيذية لنظام المنافسة
                    </p>
                    <div class="wraper"> <i class="download"><img src="../../assets/images/arrow.jpg" alt=""></i>
                        <div class="date">
                            <p>1443/05/04</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="dececion">
                    <i><img src="../../assets/images/SVG/pdf.svg" alt=""></i>
                    <p>
                        قرار رقم (337) وتاريخ 25/1/1441هـ بالموافقة على اللائحة التنفيذية لنظام المنافسة
                    </p>
                    <div class="wraper"> <i class="download"><img src="../../assets/images/arrow.jpg" alt=""></i>
                        <div class="date">
                            <p>1443/05/04</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="dececion">
                    <i><img src="../../assets/images/SVG/pdf.svg" alt=""></i>
                    <p>
                        قرار رقم (337) وتاريخ 25/1/1441هـ بالموافقة على اللائحة التنفيذية لنظام المنافسة
                    </p>
                    <div class="wraper"> <i class="download"><img src="../../assets/images/arrow.jpg" alt=""></i>
                        <div class="date">
                            <p>1443/05/04</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="dececion">
                    <i><img src="../../assets/images/SVG/pdf.svg" alt=""></i>
                    <p>
                        قرار رقم (337) وتاريخ 25/1/1441هـ بالموافقة على اللائحة التنفيذية لنظام المنافسة
                    </p>
                    <div class="wraper"> <i class="download"><img src="../../assets/images/arrow.jpg" alt=""></i>
                        <div class="date">
                            <p>1443/05/04</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="dececion">
                    <i><img src="../../assets/images/SVG/pdf.svg" alt=""></i>
                    <p>
                        قرار رقم (337) وتاريخ 25/1/1441هـ بالموافقة على اللائحة التنفيذية لنظام المنافسة
                    </p>

                    <div class="wraper"> <i class="download"><img src="../../assets/images/arrow.jpg" alt=""></i>
                        <div class="date">
                            <p>1443/05/04</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="dececion">
                    <i><img src="../../assets/images/SVG/pdf.svg" alt=""></i>
                    <p>
                        قرار رقم (337) وتاريخ 25/1/1441هـ بالموافقة على اللائحة التنفيذية لنظام المنافسة
                    </p>
                    <div class="wraper"> <i class="download"><img src="../../assets/images/arrow.jpg" alt=""></i>
                        <div class="date">
                            <p>1443/05/04</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="link bg-light fw-bolder" href="#"> <i class="fa-solid fa-arrow-right"></i> عودة الى الأخبار</a>
    </div>
</section>