<!-- Start Upperbar -->
<div class="upperbar">
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <div class="date">
                    <p>
                        الأربعاء 02 جمادى الثاني 1443
                    </p>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-end">
                <div class="search">
                    <div class="form-field">
                        <i class="fas fa-search"></i>
                        <input type="search" class="search form-control" placeholder="بحث">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Upperbar -->